<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Journal</title>
    <script src="https://kit.fontawesome.com/26eb599f43.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <h1>Udacity Travel Planner</h1>
        </header>
        <div class="destination-zip">
            <label id='zip-text' for="zip-entry">What is the zip code of your destination?</label>
            <input type="text" id="zip-entry" maxlength="5" placeholder="ex. 60601">
        </div>
        <div class="destination-date">
            <label id="date-text" for="date-entry">When are you traveling?</label>
            <input type="date" id="date-entry" name="trip-start" value="" min="" max="2025-01-01">
        </div>
        <button id="submit-add-trip" type="submit">Add Trip</button>
        <div id="existing-trips"></div>
        <footer>
            <h3 class="footer-title">Ivan Olmo 2020</h3>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope-square"></i></a>
        </footer>
    </div>
    <script>
      let today = new Date().toISOString().substr(0, 10);
      document.querySelector('#date-entry').value = today;
      document.querySelector('#date-entry').min = today;
    </script>
</body>
</html>