<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Journal</title>
    <script src="https://kit.fontawesome.com/26eb599f43.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <h1>Udacity Travel Planner</h1>
        </header>
        <div class="destination-city">
            <label class="trip-info" for="city-entry">What is your destination?</label>
            <input type="text" id="city-entry" placeholder="ex. Chicago">
        </div>
        <div class="destination-date">
            <label class="trip-info" for="departure-date">What is your departure date?</label>
            <input type="date" id="departure-date" name="trip-start" min="" max="2025-01-01">
        </div>
        <button class="button" id="submit-add-trip" type="submit"><span>Add Trip </span></button>
        <div id="existing-trips"></div>
        <footer>
            <h3 class="footer-title">Ivan Olmo 2020</h3>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope-square"></i></a>
        </footer>
    </div>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
</body>
</html>